<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>01_servletProject</display-name>
   
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  <!-- 서블릿 설정 -->
  <servlet>
  	<servlet-name>test1</servlet-name>
  	<servlet-class>com.kh.first.controller.TestServlet1</servlet-class>
  </servlet>
  
  <!-- 서블릿 연결(매핑) -->
  <servlet-mapping>
  	<servlet-name>test1</servlet-name>
  	<url-pattern>/test1.do</url-pattern>
  </servlet-mapping>
  
</web-app>
